doctype html
html
  head
    title file metadata microservice
    link(href="https://fonts.googleapis.com/css?family=Inconsolata", rel="stylesheet")   
    link(rel="stylesheet", type="text/css", href="/main.css")
         
body


  h1 File Metadata Microservice

  div
    form( enctype="multipart/form-data", method="post", action="")
      input(type="file", name="theirFile")
      input(type="submit")



  
